---
import MapTiler from "$components/Map.astro";
import MainLayout from "$layouts/main.astro";
import * as circuits from "$db/circuit-repository";
import "maplibre-gl/dist/maplibre-gl.css";

const { pathname } = Astro.url;

const markers = await circuits.getMapMarkers();

const latitude = 47.93769444;
const longitude = 0.22561111;
const zoom = 2;
// const tileLayer = "https://api.maptiler.com/maps/streets/style.json?key=" + import.meta.env.PUBLIC_MAP_API_KEY;
const tileLayer =
	"https://api.maptiler.com/maps/2f9c2ed9-3ffa-479d-9e82-620c2be256d9/style.json?key=" +
	process.env.PUBLIC_MAP_API_KEY;
// const tileLayer = "https://demotiles.maplibre.org/style.json";
---

<MainLayout title="World Map" path={pathname}>
	<main id="main-content">
		<map-libre
			data-latitude={latitude}
			data-longitude={longitude}
			data-zoom={zoom}
			data-tiles={tileLayer}
			data-markers={JSON.stringify(markers)}
		>
			<div id="map"></div>
		</map-libre>
	</main>

	<script src="../lib/map-component.ts"></script>
</MainLayout>

<style lang="postcss">
	:global(main:has(#map)) {
		position: fixed;
		inset: 0;
		max-inline-size: unset;
		padding: 0;
	}

	map-libre,
	#map {
		width: 100%;
		height: 100%;
	}

	#map {
		font: inherit;

		:global(.maplibregl-popup-anchor-right .maplibregl-popup-tip) {
			border-left-color: var(--surface-1);
		}
		:global(.maplibregl-popup-anchor-bottom .maplibregl-popup-tip) {
			border-top-color: var(--surface-1);
		}
		:global(.maplibregl-popup-anchor-left .maplibregl-popup-tip) {
			border-right-color: var(--surface-1);
		}
		:global(.maplibregl-popup-anchor-top .maplibregl-popup-tip) {
			border-bottom-color: var(--surface-1);
		}
		:global(.maplibregl-popup-content) {
			background: var(--surface-1);
			border-radius: var(--radius-3);
			padding: var(--size-3);
			display: flex;
			flex-direction: column;
			gap: var(--size-2);
		}
	}
</style>
